* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/background/tavern.png);
  background-size: cover;
  overflow: hidden;
}

h1 {
  font-family: "Lobster Two", cursive;
  color: #eec170;
  margin: auto;
  text-align: center;
}

.flip {
  float: left;
  position: relative;
  width: 30%;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}

.janken {
  float: left;
  position: relative;
  width: 30%;
  margin-top: 130px;
  align-items: center;
  justify-content: center;
}

.guess {
  float: left;
  position: relative;
  width: 40%;
  margin-top: 130px;
  align-items: center;
  justify-content: center;
}

.flip img {
  width: 75%;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
}

.janken img {
  width: 75%;
  align-items: center;
  justify-content: center;
  margin-left: 30%;
}

.guess img {
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
}

footer {
  font-family: "Lobster Two", cursive;
  color: white;
  text-align: center;
  justify-content: center;
  position: fixed;
  margin-top: 88.5vh;
  margin-left: 32.5%;
}

footer p {
  margin: auto;
  color: #cccccc;
  text-shadow: 0 0 5px #2e2e2e;
}

footer p span {
  color: white;
}
